.booking-item {
  .card-body {
    table {
      tr {
        td {
          padding: .5rem .5rem;

          p {
            margin: 0;
            padding: 0;

            a {
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          background-color: #fafafa;
        }
      }
    }
  }
}
