<div class="background min-vh-100 d-flex flex-row align-items-center">

  <div class="container-lg">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">

        <div class="card custom-card my-4 auth-circle">

          <div id="logo" class="login-title text-center mt-5">
            <img src="assets/brand/nozoul-logo-dark.svg" alt="logo" class="img-fluid mb-3">
            <h6 class="text-secondary">{{ 'authentication.login.sub-title'|translate }}</h6>
          </div>

          <div class="card-body px-4 pb-5 pt-3"><p class="h4 mb-2 fw-semibold">Sign In</p>
            <p class="mb-4 text-muted fw-normal">Hi, welcome back!</p>

            <app-alert></app-alert>

            <form cForm (ngSubmit)="submit()" [formGroup]="loginForm">

              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl id="floatingInput" placeholder="jhondoe@domain.com" type="email"
                       formControlName="username"/>
                <label cLabel
                       for="floatingInput">{{ 'authentication.login.form.email-input.label'|translate }}</label>
                @if (((loginForm.get('username')?.touched || loginForm.get('username')?.dirty))) {
                  @if (loginForm.get('username')?.hasError('required')) {
                    <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                  }
                  @if (loginForm.get('username')?.hasError('invalidEmail')) {
                    <c-form-feedback [valid]="false">{{ 'commons.errors.email'|translate }}</c-form-feedback>
                  }
                }
              </div>


              <div cFormFloating>
                <input cFormControl id="floatingPassword" placeholder="Password" type="password" autocomplete="off"
                       formControlName="password"/>
                <label cLabel
                       for="floatingPassword">{{ 'authentication.login.form.password-input.label'|translate }}</label>
                @if (((loginForm.get('password')?.touched || loginForm.get('password')?.dirty))) {
                  @if (loginForm.get('password')?.hasError('required')) {
                    <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                  }
                }
              </div>


              <a class="small mt-1 text-decoration-none text-secondary d-flex justify-content-end"
                 routerLink="/forgot-password">{{ 'authentication.login.forgot-password-link'|translate }}</a>


              <div class="d-grid mt-4">
                <button cButton color="primary" type="submit"
                        [disabled]="!loginForm.valid">{{ 'authentication.login.form.submit-btn'|translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


