<!-- Modal title -->
<div class="modal-header justify-content-center align-items-center bg-primary">
  <h6 class="modal-title text-white fw-bold">
    {{ 'settings.rate-plan.pages.settings.units-section.pages.add-modal.title'|translate }}
  </h6>
</div>

<!-- Modal body -->
<div class="modal-body">

  <form cForm [formGroup]="ratePlanUnitForm" (ngSubmit)="submit()">

    {{ ratePlanUnitForm.value |json }}

    <!--Unit input-->
    <c-row class="mb-3">
      <c-col [md]="12">
        <label cLabel for="units" class="required">
          {{ 'settings.rate-plan.pages.settings.units-section.pages.add-modal.form.unit-input.label' | translate }}</label>
        <app-unit-select [withParent]="false" formControlName="unit" [multi]="false"
                         [placeholder]="'settings.rate-plan.pages.settings.units-section.pages.add-modal.form.unit-input.placeholder'|translate"></app-unit-select>
        @if (ratePlanUnitForm.get('units')?.touched && ratePlanUnitForm.get('unit')?.invalid) {
          @if (ratePlanUnitForm.get('units')?.errors?.['required']) {
            <c-form-feedback [valid]="false">{{ 'commons.errors.required' | translate }}</c-form-feedback>
          }
        }
      </c-col>
    </c-row>

    <!--Enabled input-->
    <c-row class="mb-3">
      <c-col [md]="12">
        <c-form-check [switch]="true">
          <input id="enabled-input" cFormCheckInput type="checkbox" formControlName="enabled"/>
          <label cFormCheckLabel for="enabled-input">
            {{ 'commons.form.enabled-check.label'|translate }}</label>
        </c-form-check>
        <div class="form-text">
          {{
            'settings.rate-plan.pages.settings.units-section.pages.add-modal.form.enabled-input.placeholder'|translate
          }}
        </div>
      </c-col>
    </c-row>

    <!--Modal footer-->
    <c-row class="mt-4">
      <c-col class="d-flex justify-content-end">
        <button cButton color="dark" size="sm" variant="ghost" (click)="closeModal()">
          {{ 'commons.form.cancel-btn'|translate }}
        </button>
        <button cButton class="ms-3" color="secondary" size="sm" type="submit" [disabled]="!ratePlanUnitForm.valid">
          {{ 'commons.form.save-btn'|translate }}
        </button>
      </c-col>
    </c-row>
  </form>
</div>
