.header-section {

  .small-text {
    font-size: .875rem !important;
    line-height: 1.25rem;
    font-weight: normal;
  }

  .bigger-text {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

}


