<c-card>

  <c-card-body class="d-flex align-items-center ">

    <div class="me-3 p-3 bg-teal text-white icon-wrapper fs-5 d-flex align-items-center justify-content-center">
      <i class="bi bi-box-arrow-in-down-right"></i>
    </div>

    <div class="content d-flex justify-content-center flex-column">
      <h3 class="widget-title mb-0">Check-ins</h3>
      <div class="widget-content">
        <span class="value">6</span>
        <span class="separator">/</span>
        <span class="total">17</span>
      </div>
      <div class="indicator">
        +24%
      </div>
    </div>

  </c-card-body>

</c-card>
