@use '../../../../scss/variables' as *;

/*.page-title {
  h1 {
    font-size: 1.3rem;
    font-weight: 500 !important;
    color: $primary;
    letter-spacing: 1px;
  }
}*/

.fs-18 {
  font-size: 1.125rem;
}

.fs-13 {
  font-size: 0.8125rem;
}
