div.background {
  position: relative;
  background-image: url('../../../../../assets/images/bg-login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  div#logo {
    img {
      width: 200px !important;
    }
  }

}

img.send-email{
  height: 150px;
}
div.success-message{
  font-size: 0.9rem;
  font-weight: 400 !important;
}
